<!DOCTYPE html>
<html>
<head>
    <title>Detalle Sala - {{ sala.nombre }}</title>
</head>
<body>

    <h1>Detalle de: {{ sala.nombre }}</h1>
    
    <p><strong>Capacidad máxima:</strong> {{ sala.capacidad }} personas</p>
    
    <p><strong>Disponibilidad:</strong> 
        {% if sala.disponible %}
            Disponible
        {% else %}
            Reservada
        {% endif %}
    </p>

    <br>
    <br>

    {% if not sala.disponible %}
    <h2>Información de Reserva</h2>
    
    <p><strong>Hora de inicio:</strong> {{ reserva_activa.fecha_inicio }}</p>
    
    <p><strong>Hora de término:</strong> {{ reserva_activa.fecha_termino }}</p>
    {% endif %}

    <br>
    <br>

    <a href="{% url 'home' %}">Volver al listado de salas</a>

</body>
</html>